*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: 156px;
    display: flex;
    align-items: center;
}
.navbar img{
    padding-left: 90px;
}
.burger-button{
    display: none;
}
.burger-button {
    position: absolute;
    right: 23px;
    z-index: 9;
    padding: 8px;
  }
  /*this is where you can chand the color of the buttons*/
  .burger-button span{
    width: 40px;
    border: 2px solid #737373;
    background-color: #737373;
    display: block;
    border-radius: 22px;
    transition: 0.3s;
  }
  .burger-button.active span{
    border-color: white;
    background-color:white;
  }
  
  .burger-top, .burger-bottom{
    position: absolute;
  }
  
  .burger-top{
    top: -02px;
  }
  
  .burger-bottom{
    bottom: -02px;
  }
  /* make sure this has the same top as the burger button has padding*/
  .burger-button.active .burger-top{
    position: absolute;
    top: 8px;
    transform: rotateZ(45deg);
  }
  
  .burger-button.active .burger-middle{
  /*   transform: rotateZ(270deg); */
    border-color: rgba(0,0,0,0);
    background-color:rgba(0,0,0,0);
  }
  
  /* make sure this has the same bottom as the burger button has padding*/
  
  .burger-button.active .burger-bottom{
    position: absolute;
    bottom: 8px;
    transform: rotateZ(-45deg);
  }
  
  .burger-menu {
      display: flex;
      position: fixed;
      top: -100vh;
      left:0;
      right: 0;
      bottom: 100vh;
      background-color: #FA4A0C;
      padding: 100px;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
      z-index: 8;
    transition:1s;
      align-content:space-around;
    justify-content:space-around;
    flex-direction:column;
  }
  .burger-menu.active{
    top:0;
    bottom:0;
  }
  .burger-menu a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    display:block;
    padding:5px 15px;
    text-align:center;
    white-space:nowrap;
  }
 
#menu-frst{
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    right: 40px;
    position: absolute;
    text-decoration: none;
}
#menu-frst a{
    margin-left: 104px;
    list-style-type: none;
    text-decoration: none;
    color: #252B42;
}
#menu-frst a:hover{
    color: #FA4A0C;
    transition: 0.3s;
}
#menu-frst ul{
    text-decoration: none;
}

.flex{
    flex-direction: row;
        width: 100%;
        margin: auto;
        overflow: hidden; /* clearfix */
    }
    
    .flex:before {
        content: "";
        padding-top: 100%;
        float: left;
    }
    .first-bg{
        width: 100%;
        display: flex;
        z-index: -1;
        justify-content: center;
    }
    .first-t{
        margin-top: 73px !important;
        max-width: 1006px;
        max-height: 400px;
        margin: 0 auto;
        display: inline-table;
        /* width: min-content; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 94px;
        position: absolute;
    }
    .first-bg img{
        width: 100%;
        display: flex;
        z-index: -1;
        justify-content: center;
    }
    .first-p{
        font-family: 'Montserrat' !important;
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 24px !important;
        margin: 0;
        line-height: 36px !important;
        text-align: center !important;
        letter-spacing: 0.1px !important;
        color: #F7F7F7 !important;
    }
    .first-t h1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        margin: 17px 0px 17px 0px;
        font-size: 55px;
        line-height: 80px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        opacity: 1;
    }
    .first-t p{
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #F7F7F7;
    }
 /*TEXT-TOP*/


 /**/

 .button-top{
    display: flex;
    justify-content: center;
}
.btn-top{
    margin: 0 30px;
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    background-color: transparent;
    color: #FFFFFF;
    width: 236px;
    height: 68px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    transition: 0.7s;
    cursor: pointer;
    outline: none;
}
.btn-top:hover{
    border: none;
    background-color: #FA4A0C !important;
    color: white !important;
    transition: 0.7s;
}
.img-fluid{
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.phone{
    margin-top: -125px !important;
    margin: 0 auto;
    display: flex;
    max-width: 100%;
}
.container{
    margin: 0 auto;
    max-width: 1041px;
}
.h1{
    display: flex;
    margin-top: 201px;
}
h1{
    margin: 0 auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #000000;
    opacity: 0.8;
}
.content-one{
    margin-top: 137px !important;
    max-width: 1041px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
.content-one img{
    max-width: 100%;
}
.cnt-one{
    width: 568px;
}
.create{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
}
h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.three-p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}
.content-two{
    margin-top: 131px !important;
    max-width: 1041px;
    display: flex;
    margin: 0 auto;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.content-three{
    margin-top: 131px !important;
    max-width: 1041px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
.bottom-bg{
    margin-top: 163px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
}
.bottom-bg img{
    width: 100%;
    z-index: -1;
}
.bg-t{
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    left: 0;
    right: 0;
}
h3{
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.bg-t p {
    margin: 0;
    margin-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
button{
    color: none;
}
.btn{
    margin: 0 30px;
    margin-top: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    background-color: transparent;
    color: #FFFFFF;
    width: 173px;
    height: 60px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    transition: 0.7s;
    cursor: pointer;
    outline: none;
}
.btn:hover{
    border: none;
    background-color: #FA4A0C !important;
    color: white !important;
    transition: 0.7s;
}
.footer{
    height: 223px;
    height: 223px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer img {
    width: 246px;
}
.text-frst{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.1px;
    color: #5C5C5C;
}

.icon{
    display: flex;
}
.icon img{
    display: flex;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.twitter img{
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 0 24px;
}
.facebook{
    cursor: pointer;
    margin: 0 24px;
}
.in{
    cursor: pointer;
}
.text-bg{
    display: none;
}

.bottom-bg-mobile{
    display: none;
}
@media screen and (max-width:1290px){
    .first-t{
    max-width: 100%;
    }
}

   
@media screen and (max-width:1200px){
    .first-t{
        margin-top: 35px !important;
        max-width: 100%;
    }
    .button-top{
        width: 410px;
        margin: 0 auto;
    }
    .btn-top{
        margin-top: 0px;
        height: 50px;
        width: 100%;
    }
    
}
@media screen and (max-width:1024px){
    .first-t{
        max-width: 730px;
        margin-top: 73px;
    }
    .first-t h1{
        font-size: 36px;
        line-height: 140%;
    }
    .phone {
        width: 35%;
        margin-top: -80px !important;
    }
    .h1 {
        display: flex;
        margin-top: 85px;
    }
    .content-one {
        margin-top: 90px !important;
        max-width: 980px;
        padding: 0 2%;
    }
    .content-two {
        margin-top: 90px !important;
        max-width: 980px;
        padding: 0 2%;
    }
    .content-three {
        margin-top: 90px !important;
        max-width: 980px;
        padding: 0 2%;
    }
    .content-one img {
        width: 20%;
        justify-content: space-evenly;
    }
    .content-two img {
        width: 20%;
        justify-content: space-evenly;
    }
    .content-three img {
        width: 20%;
        justify-content: space-evenly;
    }        

    .create {
        font-size: 20px;
    }
    h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .three-p {
        font-size: 20px;
        line-height: 35px;
    }
    h3 {
        margin-top: 0px !important;
    }
}
@media screen and (max-width:866px){
    .first-t {
        max-width: 860px;
    }
}
@media screen and (max-width:860px){
#menu-frst{
    display: none;
    }
.burger-button{
    display: block;
}   
.navbar img {
    padding-left: 40px;
}
}

@media screen and (max-width:768px){
    #menuToggle{
        display: block;
    }

    .first-bg img{
        display: none;
    }
    .first-p {
        color: #737373 !important;
    }
    .first-t{
        position: relative;
        padding: 0px 30px;
    }
    .first-t p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #737373;
    }
    .first-t h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 33px;
        margin: 17px 0px 17px 0px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #252B42;
    }
    .first-p{
        width: 100%;
        padding: 0 34.5px;
        font-size: 24px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold !important;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #737373;
    }
    .first-p img{
        width: 100%;
    }
    .first-p p { 
        width: 100% !important;
        margin-top: 0 !important;
        padding: 0 34.5px !important;
        font-size: 24px !important;
        font-family: 'Montserrat' !important;
        font-style: normal !important;
        font-weight: bold !important;
    }
    .button-top{
        width: 236px;
        margin: 0 !important;
        justify-items: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    
    .button-top{
        width: 236px;
        margin: 0 auto;
        flex-direction: column;
        margin: 0 auto !important;
        margin-top: 17px;
        border: olive;
    }
    .btn-top{
        border: 1px solid #FA4A0C;
        margin-top: 17px;
        color: #FA4A0C;
    }
    .bottom-bg{
        display: none;
    }
    .img-fluid{
        display: none;
    }
    .phone{
        margin-top: 0px !important;
        width: 100%;
	display:block;
        padding: 0 20px;
        margin-top: 95px !important;
    }
    .h1 {
        margin-top: 55px;
        display: block;
        padding: 0px 50px;
        text-align: center;
    }
    h1{
        font-size: 35px;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
    }
    h2{
        font-size: 40px;
        line-height: 57px;
    }
    .content-one{
        flex-direction: column-reverse;
        padding: 0px 40px;
    }
    .content-one img{
        width: 75%;
    }
    .cnt-one {
        text-align: center;
        max-width: 100%;
    }
    .content-two{
        flex-direction: column-reverse;
        padding: 0px 40px;
        margin-top: 85px !important;
    }
    .content-two img{
        width: 75%;
    }
    .content-three{
        flex-direction: column-reverse;
        padding: 0px 40px;
        margin-top: 85px !important;
    }
    .content-three img{
        width: 75%;
    }
    .create{
        font-size: 30px !important;
    }
    .bg-img{
        display: none;
    }
    .bg-t{
        padding: 0 40px;
    }
    .bg-t h3{
        width: 100%;
        font-size: 44px;
    }
    .bg-t p{
        width: 100%;
        font-family: 'Montserrat';
        color: #BDBDBD;
    }
    .bottom-bg-mobile{
        display: flex;
        align-items: center;
        margin-top: 68px;
        padding: 0 40px;
        height: 564px;
        background-color: #252B42;
    }
    .button{
        display: flex;
        width: 100%;
        margin-top: 60px;
        justify-content: center;
    }
    .btn-buy{
        width: 137px !important;
        height: 60px !important;
    }
    .btn-try{
        width: 186px !important;
        height: 60px !important;
    }
    .btn-buy, .btn-try{
        margin: 0 16px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.2px;
        background-color: transparent;
        color: #FFFFFF;
        width: 173px;
        height: 60px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 10px;
        transition: 0.7s;
        cursor: pointer;
        outline: none;
    }
    .btn-buy, .btn-try:hover{
        border: none;
        background-color: #FA4A0C !important;
        color: white !important;
        transition: 0.7s;
    }
    .footer{
        height: 223px;
        height: 223px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo-bg{
        display: none;
    }
    .icon{
        display: flex;
    }
    .text-bg{
        display: block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        text-align: right;
        letter-spacing: 0.1px;
        color: #5C5C5C;
    }
    .text-frst{
        display: none;
    }
}
@media screen and (max-width:414px){
	.phone{
        margin-top: 95px !important;
}
}

/*FAQ*/
.faq{
    background-color: #FA4A0C;
    height: 945px;
    width: 100%;
    display: flex;
    align-items: center;
}
main{
    display:block;
    position:relative;
    box-sizing:border-box;
    padding:30px;
    width:100%;
    max-width:920px;
    background-color:#fff;
    margin:0 auto;
    border-radius: 25px;
    box-shadow:0px 0px 5px rgba(0,0,0,0.1);
  }
  h1{
    padding-left:20px;
    padding-right:20px;
    font-size:32px;
    font-weight:300;
  }
  .topic{
    padding:20px;
    padding-top:0px;
    padding-bottom:0px;
    border-bottom:solid 1px #ebebeb;
  }
  .open{
    cursor:pointer;
    display:block;
    padding:0px;
  }
  .open:hover{
    opacity:0.7;
  }
  .expanded{
    background-color:#f5f5f5;
    transition: all .3s ease-in-out;
  }
  .question{
    padding-top:30px;
    padding-right: 40px;
    padding-bottom:20px;
    font-size: 18px;
    font-weight:500;
    color: #FA4A0C;
  }
  .answer{
    line-height:26px;
    display:none;
    margin-bottom:30px;
    text-align:justify;
    padding-left:20px;
    padding-right:20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    /* or 158% */
    
    letter-spacing: 0.2px;
    
    /* second text */
    
    color: #737373;
  }
  .faq-t{
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;
    float:right;
    position:relative;
    top:-55px;
    right:10px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transition: all .3s ease-in-out;
  }
  .faq-o{
    top:-50px;
     -moz-transform: rotate(-224deg);
    -ms-transform: rotate(-224deg);
    -webkit-transform: rotate(-224deg);
    transform: rotate(-224deg);
  }
  @media only screen and (max-width: 480px) {
    .faq-t{display:none;}
    .question{
    padding-right: 0px;
    line-height: 25px;
  }
    main{
    padding:10px;
  }
    .answer{
    margin-bottom:30px;
    padding-left:0px;
    padding-right:0px;
  }
  }

  /*Contact*/
  .contact{
    background-color: #FA4A0C;
    height: 725px;
    display: flex;
  }

  .wm{
    position: relative;
    width: 275px;
    transform: rotate(-24deg);
    left: -230px;
    top: -140px;
    z-index: 0;
    opacity: 0.7;
}


  .container-contact {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:600 12px/16px "Montserrat"; }

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 50px 0;
    border-radius: 25px;
    position: absolute;
    z-index: 1;
}

#contact h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
	color: #FA4A0C;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:#CCC solid 1px;
    border-radius: 25px;
	background:none;
	color:#FA4A0C;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#FA4A0C;
    color: white;
    border: none;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

/*Product*/
.container-product{
    background: #F9F9F9;
    padding: 25px;
    border-radius: 25px;
    margin: 0px 25px 0px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cont-one, .cont-two{
    background-color: white;
    width: 250px;
    height: 420px;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    display: grid;
    transition: 0.3s;
}
.cont-one, .cont-two:hover{
    cursor: pointer;
    transition: 0.3s;
    
}
.cont-one img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.cont-one img:hover{
-webkit-transform: scale(1.3);
transform: scale(1.3);
}
.cont-one img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.line{
    height: 55px;
    top: -55px;
    background-color: white;
    position: relative;
    background: linear-gradient(to top, #ffffff, #ffffff00);
}

.cont-one h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    top: -50px;
    position: relative;
}
.cont-one p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #737373;
    position: relative;
    top: -55px;
}
.cont-two h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    top: -50px;
    position: relative;
}
.cont-two p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #737373;
    position: relative;
    top: -55px;
}
.price{
    position: relative;
    display: flex;
    align-items: center;
    top: -20px;
}
.like{
    margin-left: 25px;
}
.buy{
    margin-left: 15px;
}
svg{
    fill: #FA4A0C;
    transition: 0.7s;
}
svg:hover {
    cursor: pointer;
    fill:#d33a03;
    transition: 0.7s;
}

.cont-one h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 28px;
    position: relative;
    margin: 0;
}
.cont-two h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 28px;
    position: relative;
    margin: 0;
}

.cont-two img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pagination a {
    font-family: 'Montserrat';
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 50px;
}

/* Style the active/current link */
.pagination a.active {
    background-color: #FA4A0C;
    color: white;
    border-radius: 50px;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd; border-radius: 50px;}


