body{
    padding: 0;
    margin: 0 auto;
    max-width: 1920px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: grid;
}
.header{
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 156px;
    justify-content: space-around;
}
nav{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul{
    display: flex;
    margin: 0;
}
li{

    list-style-type: none;
    padding: 0 65px;
}
a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    padding: 0px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}
section{
    width: 100%;
}
.content-frst{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.content-frst img{
    width: 100% !important;
    z-index: -1;
    position: relative;
}
.content-txt{
    position: absolute;
    border: 1px solid;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 73px;
}
.content-txt-p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 0px;
    letter-spacing: 0.1px; 
    color: #F7F7F7;
}
h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    text-align: center;
    margin: 0px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.content-txt-p2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    margin: 0px;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #F7F7F7;
}
.btn{
    width: 506px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.btn-playstore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    padding: 0px;
    width: 236px;
    height: 68px;
    background: none;
    border: white 1px solid;
    border-radius: 30px;
    cursor: pointer;
    outline:none;
}
.btn-appstore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    padding: 0px;
    width: 236px;
    height: 68px;
    background: none;
    border: white 1px solid;
    border-radius: 30px;
    cursor: pointer;
    outline:none;
}
.btn-appstore:hover,.btn-playstore:hover{
    background: #FA4A0C;
    border: none;
    transition: 1s;
}
.bcg-two{
    display: flex;
    margin: 0 auto;
}
.bcg-two img{
    margin: 0 auto;
    margin-top: -100px;
}